

.paginadoList{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    
}

.paginadoList li{
    text-align: center;
    font-weight: 600;
    margin: 0px 8px;
    padding: 2px 8px;
    border: 1px solid rgb(16, 16, 17);
    background-color: rgb(16, 16, 17);
    border-radius: 100%;
    color: antiquewhite;
    font-size: 16px;
    transition: color 0.4s, background-color 0.4s;
}

.paginadoList li:hover{
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    color:rgb(16, 16, 17);
}

.listLink:active{
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    color:rgb(16, 16, 17);
}